:root {
  /* Color */
  --color--white: #e4e9ef;
  --color--black: #0d0d38;
  --color--navy: #333769;
  --color--purple: #5d5b98;
  --color--light--purple: #bc92cd;

  /* Size */
  --font--xlarge: 60px;
  --font--large: 32px;
  --font--medium: 24px;
  --font--small: 16px;
  --font--micro: 12px;

  --border--radius: 4px;

  --margin--large: 16px;
  --margin--medium: 10px;
  --margin--small: 8px;
  --margin--micro: 4px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--color--white);
  color: var(--color--black);
}
a {
  text-decoration: none;
  color: var(--color--black);
}
ul {
  list-style: none;
}

#navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--color--white);
  font-size: var(--font--small);
  z-index: 10;
}

.title {
  margin: auto var(--margin--large);
  align-items: center;
  font-size: var(--font--large);
  font-weight: bolder;
  color: var(--color--black);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  margin-right: var(--margin--large);
  color: var(--color--black);
  cursor: pointer;
  text-transform: capitalize;
}

#home {
  display: flex;
  width: 100%;
  height: 100vh;
}

#home img {
  margin: auto;
  width: 300px;
  height: 250px;
}

.home__description {
  margin: auto;
}

.sub__title {
  text-align: center;
  margin-top: var(--margin--large);
  transform: translate(0, 60%);
}

#skills {
  width: 100%;
  height: 100vh;
  background-color: var(--color--light--purple);
}

.skills__list {
  position: relative;
  display: flex;
  top: 40%;
  text-align: center;
  color: var(--color--white);
  font-size: var(--font--small);
}

.skills__icon {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80px;
  height: 80px;
  padding: 8px;
  border: solid 1px var(--color--purple);
  border-radius: var(--border--radius);
  background-color: var(--color--purple);
}

.skills__icon i {
  font-size: 45px;
  align-self: center;
  margin: var(--margin--small) var(--margin--small);
  color: var(--color--white);
}

.skills__icon i:hover {
  transform: scale(1.1) rotate(10deg);
  transition: all 0.8ms ease;
  cursor: pointer;
}
/* Project */

.project {
  display: flex;
  margin-bottom: var(--margin--medium);
}

.project__img {
  width: 100px;
  height: 100px;
  margin-right: var(--margin--medium);
}
/* About */

#about {
  background-color: var(--color--light--purple);
}
.about_explain {
  margin: auto;
  text-align: center;
}
.major {
  display: flex;
  align-items: center;
  margin-bottom: var(--margin--small);
}

.major__logo {
  width: 60px;
  height: 60px;
  margin: 0 var(--margin--small);
  border-radius: 50%;
}

.major__name {
  margin-bottom: 0;
  font-size: var(--font--small);
}

.major__period {
  font-size: var(--font--micro);
}
